html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  position: relative;
}

body.dark-theme {
  background-color: #1d1d1d;
}

:root {
  --scrollbar-color: #2465a3;
  --scrollbar-bg-color: #ffffff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

* {
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg-color);
  scrollbar-width: thin;
}

::selection {
  background-color: var(--scrollbar-color);
  color: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 1rem;
  background: #26408d;
  background: linear-gradient(to right, #2465a3, #26408d);
  color: #ffffff;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  z-index: 1000;
}

#scrollToTopBtn.show {
  display: block;
}
.section-container {
  position: relative;
  width: 100%;
}

.section {
  background-color: #ffffff;
  margin-top: 7rem;
  width: 100%;
  position: relative;
}

.page-name {
  padding: 1.2rem;
  background: #26408d;
  background: linear-gradient(to right, #2465a3, #26408d);
}

.page-name span {
  font-family: "Monaco", monospace;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2.5rem;
  display: flex;
  margin-left: -4rem;
  animation: text-scroll 60s linear infinite;
}

@keyframes text-scroll {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@media screen and (max-width: 1000px) {

  #scrollToTopBtn {
    padding: 2.8rem;
    font-size: 2.4rem;
    bottom: 2rem;
    right: 2rem;
  }

  .section {
    padding: 2rem;
    margin-left: -2rem;
  }
  
  .page-name span {
    padding: 1rem;
    font-size: 3rem;
  }
}
